{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-half-tablet is-full-mobile">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              {% if post.user.profile.picture %}
                <img class="is-rounded" src="{{ post.user.profile.picture.url }}" alt="Profile picture">
              {% else %}
                <img class="is-rounded" src="https://hds.hel.fi/images/foundation/visual-assets/placeholders/user-image-l@2x.png" alt="Default profile">
              {% endif %}
            </figure>
          </div>

          <div class="media-content">
            <a href="{% url 'profile' post.user %}">
              {% if post.user.profile.first_name %}
                <p class="title is-4">{{ post.user.profile.first_name }} {{ post.user.profile.last_name }}</p>
              {% else %}
                <p class="title is-4">Unknown</p>
              {% endif %}
              <p class="subtitle is-6">@{{ post.user.username }}</p>
            </a>
          </div>
        </div>

        <hr>

        <div class="content">
          <p><strong>From:</strong> {{ post.leaving_from }}</p>
          <p><strong>To:</strong> {{ post.going_to }}</p>
          <p><strong>Date & Time:</strong> {{ post.date_time }}</p>
          <p><strong>Transport Mode:</strong> {{ post.transport_mode|title }}</p>
        </div>

        <hr>

        <p class="trip-details">{{ post.content }}</p>

        <hr>

        <div class="tags">
          {% for tag in post.tags.all %}
            <span class="tag is-info">
              <a href="{{ tag.get_absolute_url }}" class="has-text-white">#{{ tag }}</a>
            </span>
          {% endfor %}
        </div>

        <br>
        <strong><small>Posted: {{ post.posted }}</small></strong>

        {% if favorited %}
        <div class="has-text-centered mt-3">
          <a href="{% url 'postfavorite' post.id %}" class="button is-danger is-light">
            <span class="icon">
              <i class="material-icons">save_alt</i>
            </span>
            <span>Remove Post</span>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Mobile Styling Fixes -->
<style>
  @media screen and (max-width: 768px) {
    .card {
      padding: 15px;
    }
    .title {
      font-size: 1.5rem;
    }
    .trip-details {
      word-wrap: break-word;
    }
  }
</style>
{% endblock %}
