{% extends 'base.html' %}
{% load static %}

{% block content %}
<article class="media">
  <div class="media-left">
    <figure class="image is-128x128">
      <img src="{% if profile.picture %}{{ profile.picture.url }}{% else %}https://hds.hel.fi/images/foundation/visual-assets/placeholders/user-image-l@2x.png{% endif %}" alt="Profile picture">
    </figure>
  </div>
  <div class="media-content">
    <div class="content">
      <h1 class="title is-3">{{ profile.first_name }} {{ profile.last_name }}</h1>
      <h2 class="subtitle is-5">@{{ profile.user }}</h2>
      <p class="subtitle is-6">{{ profile.profile_info }}</p>
    </div>
    {% if user.is_authenticated and user != profile.user %}
      <a href="{% url 'newconversation' profile.user.username %}" class="button is-info">Send Message</a>
    {% endif %}
    {% if user.is_authenticated and user == profile.user %}
      <a href="{% url 'edit-profile' %}" class="button is-light">Edit Profile</a>
    {% endif %}
  </div>
</article>

<div class="tabs is-centered">
  <ul>
    <li class="{% if url_name == 'profile' %}is-active{% endif %}">
      <a href="{% url 'profile' profile.user %}">Posted Trips - {{ posts_count }}</a>
    </li>
  </ul>
</div>

<!-- Post Grid Layout -->
<div class="columns is-multiline is-centered">
  {% for post in posts %}
    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>From:</strong> {{ post.leaving_from }} <br>
                <strong>To:</strong> {{ post.going_to }} <br>
                <strong>When:</strong> {{ post.date_time|date:"M d, Y H:i" }} <br>
                <strong>Transport:</strong> {{ post.transport_mode|title }}
              </p>
              <div class="tags">
                {% for tag in post.tags.all %}
                  <span class="tag is-info">#{{ tag }}</span>
                {% endfor %}
              </div>
              <a href="{{ post.get_absolute_url }}" class="button is-info is-light is-small">View Details</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  {% empty %}
    <div class="column is-full">
      <h3 class="title is-3 has-text-centered">No trips posted yet!</h3>
    </div>
  {% endfor %}
</div>

<!-- Mobile Styling Fixes -->
<style>
  /* Fix layout on smaller screens */
  @media screen and (max-width: 768px) {
    .box {
      padding: 10px;
    }
    .content p {
      font-size: 1rem;
    }
  }
</style>
{% endblock %}
